<% content_for(:html_title) { "確認メール再送信" } %>
<% content_for(:html_description) { "こちらから確認メールの再送信を行うことができます。「登録したのに確認メールが届かない」といった場合にご利用ください。" } %>
<%= render "shared/header" %>
<div class="app-body">
  <div class="app-body-inner">
    <h1 class="page-title">確認メール再送信</h1>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="user-input-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "user-input" %>
      </div>
      <div class="inner-bottom-btn-wrap">
        <%= f.submit "確認メール送信", class: "btn-default" %>
      </div>
    <% end %>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
