<% content_for(:html_title) { "アカウント作成" } %>
<% content_for(:html_description) { "こちらからアカウントの作成を行うことができます。アカウントを作成することで、ノートの作成やストックが行えるようになります。" } %>
<%= render "shared/header" %>
<div class="app-body">
  <section class="app-body-inner">
    <h1 class="page-title">アカウント作成</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="user-input-field">
        <%= f.label "お名前" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "例）hoge太郎", maxlength: 10, class: "user-input" %>
      </div>
      <div class="user-input-field">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "hoge@example.com", class: "user-input" %>
      </div>
      <div class="user-input-field">
        <%= f.label "自己紹介" %>
        <%= f.text_area :introduce, autofocus: true, autocomplete: "introduce", class: "user-input-large" %>
      </div>
      <div class="user-input-field">
        <%= f.label "プロフィール画像" %>
        <%= f.file_field :picture, autofocus: true, autocomplete: "picture" %>
      </div>
      <div class="user-input-field">
        <%= f.label "パスワード" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上で入力してください", class: "user-input" %>
      </div>
      <div class="user-input-field">
        <%= f.label "パスワード（確認）" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認のためもう一度入力してください", class: "user-input" %>
      </div>
      <div class="user-input-field">
        <%= f.check_box :accepted, {}, checked_value = "true", unchecked_value = "false" %>
        <%= link_to "利用規約", terms_path, target: :_blank, rel: "noopener noreferrer" %>
        ・
        <%= link_to "プライバシーポリシー", privacy_path, target: :_blank, rel: "noopener noreferrer" %>
        に同意する
      </div>
      <div class="inner-bottom-btn-wrap">
        <%= f.submit "登録する", class: "btn-default" %>
      </div>
    <% end %>
    <div class="user-input__notice">
      <h3>ご登録からログインまでの流れ</h3>
      <ul>
        <li>1. 登録が完了すると、運営からメールアドレス確認用のメールをお送りいたします。</li>
        <li>2. メール内の確認用リンクをクリックします。</li>
        <li>3. ご登録いただいたメールアドレス・パスワードでログインの上、ご利用ください。</li>
      </ul>
    </div>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>
<%= render "shared/footer" %>
