<div class="bottom-profile__upper">
  <div class="profile-img__container">
    <% if user.picture? %>
      <%= image_tag user.picture.url %>
    <% else %>
      <%= image_tag "site-bg" %>
    <% end %>
  </div>
  <div class="profile-introduce__container">
    <div class="profile-introduce__name">
      <h2><%= user.name %></h2>
    </div>
    <div class="profile-introduce__word">
      <%= user.introduce %>
    </div>
  </div>
</div>
<div class="bottom-profile__lower">
  <div class="profile-btn__container">
    <% if use_case == "log" %>
      <%= link_to "フォローする", "#", class: "btn-filled" if user_signed_in? && (current_user.id != user.id) %>
      <%= link_to "プロフィールへ", [user], class: "btn-default" %>
    <% else %>
      <% if user_signed_in? && (current_user.id == @user.id) %>
        <%= link_to("プロフィール編集", edit_user_registration_path,{ method: :get, class: "btn-filled" }) %>
        <%= link_to("ログアウト", '/users/sign_out',{ method: :delete, class: "btn-default" }) %>
      <% elsif user_signed_in? && (current_user.id != @user.id) %>
        <%= link_to("フォローする", '#',{ class: "btn-filled" }) %>
      <% end %>
    <% end %>
  </div>
</div>
