<%= render "shared/header" %>
<div class="app-body">
  <section class="app-body-inner">
    <h1><%= @user.name %>のノート</h1>
    <% if @logs.present? %>
      <%= render "logs/table", logs: @logs, stock: "false" %>
    <% else %>
      <p class="no-content-message">ノートはまだありません。</p>
    <% end %>
  </section>

  <% if user_signed_in? && (current_user.id == @user.id) %>
    <section class="app-body-inner">
      <h1>最近のストック</h1>
      <% if @stocks.present? %>
        <%= render "logs/table", logs: @stocks, stock: "true" %>
      <% else %>
        <p class="no-content-message">ストックしたノートはまだありません。</p>
      <% end %>
    </section>
  <% end %>

  <div class="app-bottom-inner">
    <%= render "users/profile", user: @user, use_case: "user" %>
  </div>
</div>
<%= render "shared/footer" %>
