<div class="log-container">
  <% logs.each do |log| %>
    <article class="log-block" style="height: 50px;">
      <div class="log-block__upper">
        <h2><%= link_to log.title, user_log_path(log.user_id, log.id) %></h2>
      </div>
      <div class="log-block__lower">
        <div class="log-block__lower-languages">
          <% log.languages.each do |lang| %>
            <p class="lang <%= lang.trim %>"><%= lang.name %></p>
          <% end %>
        </div>
        <div class="log-block__lower-user">
          <% if log.user.picture? %>  
            <%= image_tag log.user.picture.url, size: "25x25" %>
          <% else %>
            <%= image_tag "human.png", size: "25x25" %>
          <% end %>
          <div class="log-block__text-container">
            <% if log.release %>
              <p class="mgr-5"><%= link_to log.user.name, user_path(log.user) %></p>
              <p>が<%= l log.updated_at, format: :default %>に公開</p>
            <% else %>  
              <p> 非公開（<%= l log.updated_at, format: :default %>作成）</p>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
</div>
<%= paginate logs %>
