<div class="top-flex">
  <section class="nav-bar">
    <div class="nav-bar__navigation">
      <div class="navigation__link-wrap">
        <i class="far fa-clock"></i>
        <%= link_to "新着ノート", "#" %>
      </div>
      <div class="navigation__link-wrap">
        <i class="fas fa-fire-alt"></i>
        <%= link_to "話題のノート", "#" %>
      </div>
      <% if user_signed_in? %>
        <div class="navigation__link-wrap">
          <i class="fas fa-users"></i>
          <%= link_to "フォローの注目ノート", "#" %>
        </div>
        <div class="navigation__link-wrap">
          <i class="fas fa-cubes"></i>
          <%= link_to "最近ストックしたノート", "#" %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="app-body-inner inner-narrow">
    <h1>新着ノート</h1>
    <%= render "table", logs: @logs, stock: "true" %>
  </section>
  <section class="nav-bar">
    <div class="nav-bar__usage" id="nav_bar_usage">
      <iframe width="300"
              height="200"
              src="https://www.youtube-nocookie.com/embed/4dnT-kKIO6Y" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
      </iframe>
    </div>
   <div class="nav-bar__lang-rank" id="nav_bar_lang_rank">
   </div>
  </section>
</div>
