<section class="app-body-inner">
  <h1><%= @log.title %></h1>
  <div class="log-updated-at">
    <p>最終更新日：<%= l @log.updated_at, format: :default %></p>
  </div>
  <table class="log-table" width="90%">
    <tbody>
      <tr>
        <th class="log-show-th">エラー文</th>
        <td><%= @log.error %></td>
      </tr>
      <tr>
        <th class="log-show-th">解決法</th>
        <td><%= @log.solution %></td>
      </tr>
      <tr>
        <th class="log-show-th">開発言語</th>
        <td><%= display_languages(@log.languages) %></td>
      </tr>
    </tbody>
  </table>

  <div class="inner-bottom-btn-wrap">
    <% if user_signed_in? %>
      <% if current_user.id == @log.user.id %>
        <%= link_to 'ログを編集する', edit_user_log_path(user_id: current_user.id, id: @log.id), class: "btn-default" %>
        <%= link_to 'ログを削除する', user_log_path(user_id: current_user.id, id: @log.id), method: :delete, class: "btn-danger", data: {confirm: "削除しますか？"} %>
      <% else %>
        <% if current_user.already_stocked?(@log) %>
          <%= button_to user_log_stock_path(current_user, @log), method: :delete, class:"btn-filled" do %>
            <p>ストックを取り消す <span class="stock-count__number"><%= @log.stocks.count %></span></p>
          <% end %>
        <% else %>
          <%= button_to user_log_stocks_path(current_user, @log), class:"btn-default" do %>
            <p>ストックする <span class="stock-count__number"><%= @log.stocks.count %></span></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
<div class="app-bottom-inner">
  <%= render "users/profile", user: @log.user, use_case: "log" %>
</div>
