<section class="app-body-inner">
  <h1><%= @log.title %></h1>
  <div class="log-updated-at">
    <p>最終更新日：<%= l @log.updated_at, format: :default %></p>
  </div>
  <table class="log-table" width="90%">
    <tbody>
      <tr>
        <th class="log-show-th">エラー文</th>
        <td><%= @log.error %></td>
      </tr>
      <tr>
        <th class="log-show-th">解決法</th>
        <td><%= @log.solution %></td>
      </tr>
      <tr>
        <th class="log-show-th">開発言語</th>
        <td><%= display_languages(@log.languages) %></td>
      </tr>
    </tbody>
  </table>

  <div class="inner-bottom-btn-wrap">
    <% if user_signed_in? %>
      <%= "ストックされた数:#{@log.stocks.count}" %>
      <% if current_user.id == @log.user.id %>
        <%= link_to("ログを編集する", "/users/#{current_user.id}/logs/#{@log.id}/edit", {class: "btn-filled"}) %>
      <% else %>
        <% if current_user.already_stocked?(@log) %>
          <%= button_to 'ストックを取り消す', user_log_stock_path(current_user, @log), method: :delete %>
        <% else %>
          <%= button_to 'ストック', user_log_stocks_path(current_user, @log) %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to("トップに戻る", root_path, {class: "btn-default"}) %>
  </div>
</section>
<div class="app-bottom-inner">
  <div class="bottom-profile__upper">
    <div class="profile-img__container">
      <%= image_tag('site-bg.png') %>
    </div>
    <div class="profile-introduce__container">
      <div class="profile-introduce__name">
        <h2><%= @log.user.name %></h2>
      </div>
      <div class="profile-introduce__word">
        <p>これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。</p>
      </div>
    </div>
  </div>
  <div class="bottom-profile__lower">
    <div class="profile-btn__container">
      <%= link_to "フォローする", "#", class: "btn-filled" if current_user.id != @log.user.id %>
      <%= link_to "プロフィールへ", [@log.user], class: "btn-default" %>
    </div>
  </div>
</div>
