<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-84C1Y5F63L"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-84C1Y5F63L');
      </script>
    <% end %>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Error Note" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
